.background{
    background-image: url('https://i.imgur.com/cF726ve.jpg');
    background-size: cover;
    padding: 15rem;
  
  }

.msg{
    color: aliceblue;
    text-shadow: 2px 2px #000000;
}
.ppal-heading{
    font-size: 3rem;
}
.snd-heading{
font-size: 1.5rem;
}

.font-impact{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
@media (max-width: 800px) {
    .background{
        padding: 10rem;
    }
    .ppal-heading{
        font-size: 2rem;
  }
  .snd-heading{
    font-size: 1rem;
  }
}
@media (max-width: 540px) {

    .background{
        padding: 5rem;
    }
  .ppal-heading{
        font-size: 1.5rem;
  }
  .snd-heading{
    font-size: 1rem;
  }
}