.powerStat-set{
    background-color: #F5FBFD;
    border-radius: 10px;
    padding: 1rem 5rem 2rem 1rem;
}

.team-set{
    padding-top: 1rem;
}

@media (max-width: 520px) {
    .powerStat-set{
        background-color: #F5FBFD;
        border-radius: 10px;
        padding: 0.5rem;
    }
    .ppal-headings{
        font-size: 1.2rem;
    }
    .secondary-headings{
        font-size: 1rem;
        margin-top: 0rem;
    }
    .paragraph{
        font-size: 0.8rem;
    }
    .team-set{
        padding-top: 0.5rem;
    }
  }